body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-family: "PT Sans Narrow", sans-serif;
    
  }
  /*------------Navbar-------------*/
  #navbar {
    overflow: hidden;
    z-index: 100;
    margin: 0;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  .title-text {
    padding-top: 15%;
    font-size: 2rem;
    line-height: 0.8;
    font-family: "Oswald", sans-serif;
  }
  .multi-line-text {
    padding-left: 5rem;
    font-size: 1rem;
    font-family: "PT Sans Narrow", sans-serif;
  }
  .logo-img {
    height: 100%;
  }
  #navbar .container-fluid {
    height: 6.25rem;
  }
  #navbar .row,
  .log-tit {
    height: 6.25rem;
  }
  .nav-item {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
  }
  #navbar ul li a:hover {
    color: cornflowerblue;
    transform: scale(1.1);
    transition: 0.5s;
  }










  /*-------------------CONTACT----------------*/
#contact .container{
    background-color: rgb(245, 245, 245);
    margin-top: 3%;
  }
  #contact h1{
    padding-top: 1%;
    padding-bottom: 3%;
    color: black;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
  }
  #contact h1:before{
    content:'';
    display: block;
    background-color: black;
    height: .2rem;
    width: 15%;
    margin: auto;
    transform: translateY(4rem);
  }
  #contact h1:after{
    content: '';
    display: block;
    background-color: grey;
    height: 0.7rem;
    width: 5%;
    margin: auto;
    transform: translateY(-0.1rem);
  }
  .contact-box{
    padding-right: 2%;
  }
  #contact .submit-btn{
    margin-top: 1rem;
  }
  #contact h2{
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    padding: 1% 0;
  }
  #contact .container-md{
    background-color: white;
  }
  #contact .details{
    font-family: "PT Sans Narrow", sans-serif ;
    font-size: 1rem;
  }
  
  
  /* ------------Details-------------- */
  .link-tag{
    color: black;
    text-decoration: none; 
    padding-left: 2%;
    font-size: .8rem;
  }
  /*------------COPYRIGHT-----------------*/
  #copyright .container-fluid{
    background-color: black;
    margin: 0;
    padding: 0;
  }
  #copyright p{
    color: white;
    margin-bottom: 0;
  }
  #contact .fab:hover{
    transform: scale(3) translateY(-5px);
    transition: 1s;
  }